<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/stylesButton.css}"/>
        <title>fileplay</title>
    </head>
    <body>
        <h1>Крестики нолики</h1>
        <hr>
        <h3>
            История игры <span th:text="${gameXO.getGameplay().getPlayer1().getName()}"></span> и
                        <span th:text="${gameXO.getGameplay().getPlayer2().getName()}"></span>
        </h3>
        <div th:each="nums, i: ${fieldList}">
            Шаг - <span th:text="${i.count}"></span> <br>
            <button disabled class="my-btn">y\x</button>
            <button disabled class="my-btn">0</button>
            <button disabled class="my-btn">1</button>
            <button disabled class="my-btn">2</button>
            <div th:each="num, k: ${nums.getCells()}">
                <button th:if="${k.count == 1}" th:text="${0}" disabled class="my-btn">0</button>
                <button th:if="${k.count == 2}" th:text="${1}" disabled class="my-btn">0</button>
                <button th:if="${k.count == 3}" th:text="${2}" disabled class="my-btn">0</button>
                <span th:each="cell : ${num}">
                    <button class="my-btn" th:text="${cell.getValue()}">#</button>
                </span>
            </div>
            <br>
        </div>
        <h3>Выиграл -
            <span th:if="${gameXO.getGameplay().getGameResult().getPlayer()==null}"
                  th:value="Ничья">
                никто не выиграл. Ничья
            </span>
            <span th:if="${gameXO.getGameplay().getGameResult().getPlayer()!=null}"
                  th:text="${gameXO.getGameplay().getGameResult().getPlayer().getName()}">
            </span> !!!
            <br>
        </h3>
        <form action="/gameplay" method="get">
            <button>Главная</button>
        </form>
    </body>
</html>