<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>gameplay</title>
    </head>
    <body>
        <h1>Крестики нолики</h1>
        <hr>
        <form action="/gameplay/play" method="get">
            <h3>Человек против человека <button>Играть</button> </h3>
        </form>
        <br>
        <form action="/gameplay/fileplay" method="post" enctype="multipart/form-data">
            <h3>Воспроизвести историю игры из json файла</h3>
            <input type="file" name="file">
            <button>Воспроизвести</button>
        </form>
    </body>
</html>