<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/stylesButton.css}"/>
        <title>playNext</title>
    </head>
    <body>
        <h1>Крестики нолики</h1>
        <hr>
        <h3>
            Первый игрок:
            <ul>
                <li>имя - <span th:text="${gameXO.getGameplay().getPlayer1().getName()}"></span>;</li>
                <li>символ - <span th:text="${gameXO.getGameplay().getPlayer1().getValue()}"></span>. <br></li>
            </ul>
            Второй игрок:
            <ul>
                <li>имя - <span th:text="${gameXO.getGameplay().getPlayer2().getName()}"></span>;</li>
                <li>символ - <span th:text="${gameXO.getGameplay().getPlayer2().getValue()}"></span>. <br></li>
            </ul>
        </h3>
        <div>
            <button disabled class="my-btn">y\x</button>
            <button disabled class="my-btn">0</button>
            <button disabled class="my-btn">1</button>
            <button disabled class="my-btn">2</button>
            <div th:each="num, k: ${gameXO.getField().getCells()}">
                <button th:if="${k.count == 1}" th:text="${0}" disabled class="my-btn">0</button>
                <button th:if="${k.count == 2}" th:text="${1}" disabled class="my-btn">0</button>
                <button th:if="${k.count == 3}" th:text="${2}" disabled class="my-btn">0</button>
                <span th:each="cell : ${num}">
                    <button class="my-btn" th:text="${cell.getValue()}">#</button>
                </span>
            </div>
            <br>
        </div>
        <form action="/gameplay/playNext" method="get">
            <div th:if="${gameXO.isFlag()}">
                <div th:if="${gameXO.getGameplay().getPlayer1().isStartStop()}">
                    <h3>
                        Игрок -  <span th:text="${gameXO.getGameplay().getPlayer1().getName()}"></span> <br>
                        Введите x - <input type="number" min="0" max="2" name="x"/> <br>
                        Введите x - <input type="number" min="0" max="2" name="y"/> <br>
                    </h3>
                </div>
                <div th:if="${gameXO.getGameplay().getPlayer2().isStartStop()}">
                    <h3>
                        Игрок -  <span th:text="${gameXO.getGameplay().getPlayer2().getName()}"></span> <br>
                        Введите x - <input type="number" min="0" max="2" name="x" /><br>
                        Введите x - <input type="number" min="0" max="2" name="y" /><br>
                    </h3>
                </div>
                <button>Сохранить</button>
            </div>
        </form>
        <div th:if="${!gameXO.isFlag()}">
            <h3>
                Выиграл -
                    <span th:if="${gameXO.getGameplay().getGameResult().getPlayer() != null }"
                        th:text="${gameXO.getGameplay().getGameResult().getPlayer().getName()}"></span>
                    <span th:if="${gameXO.getGameplay().getGameResult().getPlayer() == null }"
                          th:text="${'никто не выиграл. Ничья'}"></span> !!!
            </h3>
            <form action="/api/returnJSON" method="post">
                <button>Получить файл с историей игры в формате json</button>
            </form>
        </div>
        <br>
        <form action="/gameplay" method="get">
            <button>Главная</button>
        </form>
    </body>
</html>