<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>requestController</title>
    </head>
    <body>
        <h1>Загрузка файла c историей игры</h1>
        <form action="/api" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button>отправить</button>
        </form>
    </body>
</html>