<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>home</title>
    </head>
    <body>
        <h1>Домашнее задание по курсу “Основы java февраль 2022” </h1>
        <h2>Студент Патюков Сергей Сергеевич</h2>

        <form method="post" th:action="@{/zadanie1}">
            <button>1 задание</button>
        </form>
        <br>

        <form method="post" th:action="@{/static/images/zadanie2}">
            <button disabled>2 задание</button>
        </form>
        <br>

        <form method="post" th:action="@{/zadanie3}">
            <button disabled>3 задание</button>
        </form>
        <br>

        <form method="get" th:action="@{/zadanie4}">
            <button>4 задание</button>
        </form>
        <br>
        <form method="get" th:action="@{/gameplay}">
            <button>5 задание</button>
        </form>
        <br>

        <form method="post" th:action="@{/zadanie6}">
            <button disabled>6 задание</button>
        </form>
    </body>
</html>