<!doctype html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>gameplay</title>
    </head>
    <body>
        <h1>Крестики нолики</h1>
        <hr>
        <form action="/gameplay/createPlayer" method="get">
            <h3>Человек против человека <button>Играть</button> </h3>
        </form>
        <form action="/gameplay/statisticsplayer" method="get">
            <h3>Посмотреть статистику игроков <span><button>Посмотреть</button></span>
            </h3>
        </form>
        <form action="/gameplay/filePlay" method="post" enctype="multipart/form-data">
            <h3>Воспроизвести историю игры из json или xml файла
                <span><input type="file" name="file"><button>Воспроизвести</button></span>
            </h3>
        </form>
        <form action="/gameplay/nameFilePlay" method="post" enctype="multipart/form-data">
            <h3>Воспроизвести историю игры из списка игр хранящихся на сервере
                <span><input type="text" name="namefile"><button>Воспроизвести</button></span>
            </h3>
        </form>
        <form action="/gameplay/historyID" method="post" enctype="multipart/form-data">
            <h3>По идентификационному номеру воспроизвести историю игры из списка игр хранящихся в БД
                <span><input type="number" min="0" name="historyID"><button>Воспроизвести</button></span>
            </h3>
        </form>
        <table >
            <tr>
                <td valign="top">
                    <h4>Список игр, хранящихся на сервере:</h4>
                    <div th:each="path : ${gameXO.getListPath()}">
                        <ul>
                            <li th:text="${path}"></li>
                        </ul>
                    </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <h4>Список игр, хранящихся в БД:</h4>
                    <div th:each="nameHist : ${gameXO.getNameHistories()}">
                        <ul>
                            <li>
                                <span th:text="${nameHist.getHistoryID()}"> </span>
                                <span th:text="${nameHist.getPlayer1()}"> </span>
                                <span th:text="${nameHist.getPlayer2()}"> </span>
                            </li>
                        </ul>
                    </div>
                    <ul>
                        <li th:if="${gameXO.getNameHistories().size() == 0}">пусто</li>
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>